html {
	background-color: rgba(49, 223, 199, 0.575);
}
body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
	text-align: center;
}
h1 {
  color: rgb(207, 17, 17);
}
html{
    background-size: 100
}
